@import "tag.css";
@import "thumbnail.css";

.button {
    -fx-font-size: 16px;
}

.text-field {
    -fx-font-size: 16px;
}

.panel {
    -fx-padding: 10px;
}

.liner-box {
    -fx-spacing: 5px;
}

.label {
    -fx-font-size: 18px;
}

.menu-bar .label {
    -fx-font-size: 14px;
}

.text-area {
    -fx-font-size: 18px;
}

.error {
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.9), 10, 0, 0, 0);
}

.error-message {
    -fx-text-fill: red;
    -fx-font-size: 15px;
    -fx-alignment: center-left;
    -fx-max-width: 99999;
    -fx-max-height: 99999;
}

.separate-border {
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-margin: 5px;
}